This is an official verification post for Tether USD (BEP20).
CoinMarketCap Application ID: CL1610250017
Official Website: https://yyoutoone-art.github.io/TetherUSD/
Smart Contract: https://bscscan.com/token/0xBb7e20348fCFD959e314747873b41d51Ef1f3474
